<div class="notification-dropdown-container">
    <button data-type="dropdown" data-target="#notification-dropdown" class="btn-notification fa-duotone fa-solid fa-bell" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;">
        <div class="dot dot-red"></div>
    </button>

    <div id="notification-dropdown" class="notification-dropdown">
        <div class="notification-header">
            <h4>Notifications</h4>
            <span class="notification-number">0</span>
        </div>
        <div class="dropdown-divider"></div>
        <div class="notifications">
            
            <div class="notification-item" data-id="">
                <img class="image" src="~/images/projects/project-template.svg" />
                <div class="message">Hasse was here</div>
                <div class="time" data-create="">1 day ago</div>
                <button class="btn-close" onclick=""></button>
            </div>

        </div>
    </div>
</div>
