<div class="top-menu">
    <partial name="Partials/Notification/_NotificationDropdown" />
    <partial name="Partials/Account/_AccountDropdown" />
    <button type="button" data-type="menu" data-target="#sidebar" class="btn-menu"></button>
</div>
