################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lektion-6-2025-02-28/BackOffice/.vs