@{
    ViewData["Title"] = "Members";
}

<section id="members">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addMemberModal" class="btn btn-add"><span>Add Member</span></button>
    </div>
</section>