@{
    ViewData["Title"] = "Create Account";
}

<section id="signup" class="card">
    @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
    {
        <div class="alert-notification error">
            @ViewBag?.ErrorMessage
        </div>
    }
    
    <div class="card-header">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="card-body">
        <form asp-controller="Auth" asp-action="SignUp" method="post" enctype="multipart/form-data" novalidate>
            <input type="hidden" name="returnUrl" value="@ViewBag?.ReturnUrl" />


            <div class="form-group">
                <button type="submit" class="btn btn-submit">Create Account</button>
            </div>

        </form>
    </div>

    <div class="card-footer">
        <span>Already have an account?</span>
        <a asp-controller="Auth" asp-action="Login">Log In</a>
    </div>

</section>
