@{
    ViewData["Title"] = "Clients";
}

<section id="clients">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addClientModal" class="btn btn-add"><span>Add Client</span></button>
    </div>
</section>