@using System.Text.Json
@model AddProjectViewModel
@{
    var selectedUsersJson = "[]";
}
<div id="addProjectModal" class="modal">
    <div class="card">
        <div class="card-header">
            <h3>Add Project</h3>
            <button type="button" class="btn-close" data-type="close" data-close="true" data-target="#addProjectModal"></button>
        </div>
        <div class="card-body">
            <form asp-controller="Project" asp-action="Add" method="post" enctype="multipart/form-data" novalidate>                
                <div class="form-group">
                    <label asp-for="ProjectName"></label>
                    <input asp-for="ProjectName" />
                </div>

                <div class="form-group">
                    <label asp-for="ClientId"></label>
                    <select asp-for="ClientId" asp-items="Model.Clients"></select>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <div class="wysiwyg-container">
                        <textarea id="add-project-description" asp-for="Description"></textarea>
                        <div id="add-project-description-editor" class="wysiwyg-editor"></div>
                        <div id="add-project-description-toolbar" class="wysiwyg-toolbar">
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-align" value=""></button>
                                <button class="ql-align" value="center"></button>
                                <button class="ql-align" value="right"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="UserIds"></label>
                    <input type="hidden" asp-for="UserIds" />
                    <div id="tagged-users" class="form-input form-tag-select" >
                        <input type="text" id="user-search" class="form-tag-input" placeholder="Add member..." />
                        <label for="user-search" class="fa-solid fa-ellipsis"></label>
                        <div id="user-search-results" class="search-results"></div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-submit">Add Project</button>
                </div>

            </form>
        </div>
        <div class="card-footer"></div>
    </div>
</div>

<script>
    const preSelectedUsers = @Html.Raw(selectedUsersJson);

    initWysiwygEditor('#add-project-description-editor', '#add-project-description-toolbar','#add-project-description', '@Html.Raw(Model?.Description ?? "")')

    initTagSelector({
        containerId: 'tagged-users',
        inputId: 'user-search',
        resultsId: 'user-search-results',
        searchUrl: (query) => '@Url.Action("SearchUsers", "Users")' + '?term=' + encodeURIComponent(query),
        displayProperty: 'fullName',
        imageProperty: 'imageUrl',
        tagClass: 'user-tag',
        avatarFolder: '/images/profiles/',
        emptyMessage: 'No members found.',
        preSelected: preSelectedUsers,
        selectedInputIds: 'UserIds'
    })
</script>