<div id="addClientModal" class="modal flex">
    <div class="modal-content">
        <header class="modal-header">
            <h3>Add Client</h3>
            <button data-close="true" data-target="#addClientModal" type="button" class="btn-close"></button>
        </header>
        <div class="modal-body">
            <form novalidate method="post" asp-action="Add" asp-controller="Clients">

                <div class="form-group">
                    <label>First Name</label>
                    <div class="field-group">
                        <input placeholder="Enter your first name" />
                        <span>Required</span>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
